.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.env
.mise.local.toml
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
logs/*
!logs/.gitkeep
artifacts/*
!artifacts/.gitkeep
data/*
!data/.gitkeep
tmp/*
!tmp/.gitkeep
mlflow.db
.DS_Store
